<div class="container">
    <div class="rectangle">
      <div class="title">
          <p>EL ARTE DE PLANEAR QUE COMER</p>
      </div>
  
      <div class="sub">
  
          <p>HABITOS NOCIVOS, ¡A MODIFICARLOS!</p>
  
      </div>
  
      <div class="description">
  
          <div class="bar">
              <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse1%2Flesson3%2Fpage1%2Fbar.png?alt=media&token=ced2fd45-d7cd-4f6e-8cb5-659c1ae4e955" 
              >
          </div>
  
          <div class="text">
              <p>Los alimentos contienen calorías y la cantidad de estos componentes
                 energéticos es variable de acuerdo con el tipo de nutrimento que las
                  contiene: proteínas, carbohidratos y grasas. 

                La cantidad calórica que cada persona requiere está determinada por
                 factores di- versos como edad, sexo, peso corporal y tipo de actividades
                  que realiza.</p>
          </div>
  
      </div>
  
      <div class="ima">
          <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse1%2Flesson4%2Fpage2%2Fimage%2016.png?alt=media&token=ab06edfc-25e8-4f1c-b971-dbd74592299a"
          height="180">
      </div>
  
      <div class="btns">
  
          <div class="btn1">
              <button>
                  Volver
              </button>
          </div>
  
          <div class="btn2">
              <button>
                  Continuar
              </button>
          </div>
  
      </div>
  
  </div>
  </div>
  
