<app-course2lesson1page1></app-course2lesson1page1>
<app-course2lesson1page2></app-course2lesson1page2>
<app-course2lesson1page3></app-course2lesson1page3>
<app-course2lesson1page5></app-course2lesson1page5>
<app-course2lesson2page1></app-course2lesson2page1>
<app-course2lesson2page2></app-course2lesson2page2>
<app-course2lesson2page3></app-course2lesson2page3>
<app-course2lesson2page4></app-course2lesson2page4>
<app-course2lesson2page5></app-course2lesson2page5>
<app-course2lesson3page1></app-course2lesson3page1>
<app-course2lesson3page2></app-course2lesson3page2>
<app-course2lesson3page3></app-course2lesson3page3>
<app-course2lesson3page4></app-course2lesson3page4>