<div class="container">
    <div class="rectangle">
      <div class="title">
          <p>EL ARTE DE PLANEAR QUE COMER</p>
      </div>
  
      <div class="sub">
  
          <p>HABITOS NOCIVOS, ¡A MODIFICARLOS!</p>
  
      </div>
  
      <div class="description">
  
          <div class="bar">
              <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse1%2Flesson3%2Fpage1%2Fbar.png?alt=media&token=ced2fd45-d7cd-4f6e-8cb5-659c1ae4e955" 
              >
          </div>
  
          <div class="text">
              <p>Una forma de empezar a combatir el sobrepeso y la obesidad es entender qué
                 son las calorías y cómo se relacionan con el sobrepeso y la obesidad.

                Las calorías son unidades energéticas que ingresan a tu cuerpo a través de
                 los alimentos, y las utilizas como la gasolina de un auto para realizar tus
                  actividades. Si consumes más calorías de las que utilizas, aumentarás de peso;
                   de lo contrario, si utilizas más de las que ingieres, adelgazarás.</p>
          </div>
  
      </div>
  
      <div class="ima">
          <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse1%2Flesson4%2Fpage1%2Fimage%2015.png?alt=media&token=9e1c086a-72e7-4c30-9ae3-aa1843b37bb3"
          height="180">
      </div>
  
      <div class="btns">
  
          <div class="btn1">
              <button>
                  Volver
              </button>
          </div>
  
          <div class="btn2">
              <button>
                  Continuar
              </button>
          </div>
  
      </div>
  
  </div>
  </div>
  