.example-spacer {
  flex: 1 1 auto;
}

.example-spacer {
  flex: 1 1 auto;
}

.celulas-card {
  max-width: 300px;
  background-color: yellow;
}

.celulas-card-header-img {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.celulas-card-img {
  width: calc(50% + 32px);
}

.celulas-card button {
  color: red;
}

.celulas-card .celulas-card-btn-ver {
  color: green;

}