<div class="container">

    <div class="rectangle">

        <div class="title">

            <p>EL ARTE DE PLANEAR QUE COMER</p>

        </div>

        <div class="sub">
            <p>¿ES NECESARIA UNA DIETA?</p>
        </div>

        <div class="description">

            <div class="bar">
                <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse1%2Flesson1%2Fpage5%2Fbar.png?alt=media&token=874ffc57-2980-45be-9a16-e3a7d2cbf5bd" 
                >
            </div>

            <div class="text">
                <p>La importancia de una dieta equilibrada radica principalmente en que nos
                proporciona una alimentación saludable que nos previene de ciertas enfermedades.
                En muchos casos, estas enfermedades pueden llegar a ser crónicas como por ejemplo
                la diabetes, la obesidad o incluso enfermedades cardiovasculares.</p>
            </div>
        </div>

        <div class="btns">

            <div class="btn1">
                <button>
                    Volver
                </button>
            </div>

            <div class="btn2">
                <button>
                    Continuar
                </button>
            </div>

            <div class="imag">
                <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse1%2Flesson1%2Fpage5%2Fimg.png?alt=media&token=e3d7d29d-56c4-4946-b305-84ecfce913a7" 
               height="150" >
            </div>

        </div>
    </div>

</div>
