<style>
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
</style>


<div class="container">
    <div class="rectangle">
        <div class="courseInfo">
            <p class="signature">Biología</p>
            <p class="courseTitle">El arte de planear qué comer</p>
            <p class="courseDescription">En este curso entenderás cómo evitar el sobrepeso y la obesidad con base en las características de la dieta correcta y las necesidades energéticas en la adolescencia. </p>
        </div>
        <div class="videoLessons">
            <div class="video">
                <iframe class="videoYt" width="520" height="280" src="https://www.youtube.com/embed/Wr0_wULJnBE?controls=0"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="lessons">
                <div class="titleLessons">
                    <p class="titleLesson">Lecciones en este curso</p>
                </div>
                <div class="lesson">
                    <p class="lessonName"><span class="num">1.</span>Introducción del curso</p>
                </div>
                <div class="lesson">
                    <p class="lessonName"><span class="num">1.</span>Introducción del curso</p>
                </div>
                <div class="lesson">
                    <p class="lessonName"><span class="num">1.</span>Introducción del curso</p>
                </div>
                <div class="lesson">
                    <p class="lessonName"><span class="num">1.</span>Introducción del curso</p>
                </div>
                <div class="lesson">
                    <p class="lessonName"><span class="num">1.</span>Introducción del curso</p>
                </div>
                <div class="lesson">
                    <p class="lessonName"><span class="num">1.</span>Introducción del curso</p>
                </div>
            </div>
        </div>
        <div class="buttons">
            <div class="button1">
                <button mat-raised-button class="buttonVolver" (click)="onClick()">VOLVER</button>
            </div>
            <div class="button2">
                <button mat-raised-button class="buttonComenzar" (click)="goBack()">COMENZAR</button>
            </div>
        </div>
    </div>
</div>