<div>
<div><h3 style="color: #34A8535E;">Biologia</h3></div>
<div><h1 style="color: #34A853;">El Arte De Planear Que Comer</h1></div>
<div><p>En este curso entenderás cómo evitar el sobrepeso y la obesidad con base en las características de la dieta correcta y las necesidades energéticas en la adolescencia. </p></div>
<div>
    <iframe width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY">
    </iframe>

</div>

<div class="botonVolver">
    <button style="color: white ;">Volver</button>
</div>
</div>