footer{
  display: grid;
  justify-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-left: 87px;
  margin-right: 87px;
  width: auto;
  height: 140px;
  margin-bottom: 20px;
  background-color: #34A853;
  color: white;
}

mat-icon{
  display: contents;
}

