<div class="container">
    <div class="rectangle">
      <div class="title">
          <p>Diversidad, continuidad y cambio</p>
      </div>
  
  
      <div class="description">
  
          <div class="bar">
              <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse1%2Flesson3%2Fpage1%2Fbar.png?alt=media&token=ced2fd45-d7cd-4f6e-8cb5-659c1ae4e955" 
              >
          </div>
  
          <div class="text">
              <p>Buena parte de las especies sobreviven en un medioam- biente específico,
                 donde encuentran las mejores condiciones para crecer y reproducirse. Si
                  se altera ese medioambiente que constituye su hábitat, es posible que
                   se reduzca la pobla- ción de esa especie y que se inicie un proceso
                    de extinción.</p>
          </div>
  
      </div>
  
      <div class="ima">
          <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse3%2Flesson2%2Fpage2%2Fimage%206.png?alt=media&token=d97bcc06-a54f-4385-ba49-cf458c5d3246"
          height="180">
      </div>
  
      <div class="btns">
  
          <div class="btn1">
              <button>
                  Volver
              </button>
          </div>
  
          <div class="btn2">
              <button>
                  Continuar
              </button>
          </div>
  
      </div>
  
  </div>
  </div>


