<div class="container">
    <div class="rectangle">
      <div class="title">
          <p>Diversidad, continuidad y cambio</p>
      </div>
  
  

  
      <div class="ima">
          <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse3%2Flesson4%2Fpage2%2Fima.png?alt=media&token=55bc1d03-385c-4564-8f29-c308ba932927"
          height="400">
      </div>
  
      <div class="btns">
  
          <div class="btn1">
              <button>
                  Volver
              </button>
          </div>
  
          <div class="btn2">
              <button>
                  Continuar
              </button>
          </div>
  
      </div>
  
  </div>
  </div>
