<mat-toolbar color="secondary" class="navbar">
  <span style="color: white">BIOLOGISC</span>
  <span class="example-spacer"></span>
  <div>
    <button mat-button class="mat-button-home" routerLink="home">
      <mat-icon style="color: white">home</mat-icon>
      <span style="color: white">Inicio</span>
    </button>
  </div>
  <div>
    <button mat-button class="mat-button-courses" routerLink="courses">
      <mat-icon style="color: white">menu_book</mat-icon>
      <span style="color: white">Cursos</span>
    </button>
  </div>
  <div>
    <button mat-button class="mat-button-about-us" routerLink="about-us">
      <mat-icon style="color: white">help</mat-icon>
      <span style="color: white">Acerca de</span>
    </button>
  </div>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon style="color: white">account_circle</mat-icon>
  </button>
</mat-toolbar>
