<div class="container">
    <div class="rectangle">
      <div class="title">
          <p>Que Tienen En Comun Los Seres Vivos</p>
      </div>
    
      <div class="sub">
    
          <p>ESTRUCTURAS ESPECIALIZADAS</p>
    
      </div>
    
      <div class="description">
    
          <div class="bar">
              <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse1%2Flesson3%2Fpage1%2Fbar.png?alt=media&token=ced2fd45-d7cd-4f6e-8cb5-659c1ae4e955" 
              height="150">
          </div>
    
          <div class="text">
              <p>Nutrición. Hay organismos autótrofos, que producen su propio alimento,
                 como las plantas, y los heterótrofos, que se alimentan de otros seres vivos.
                  Los sistemas digestivos de muchos animales han evolucionado para digerir ciertos
                   tipos de alimentos.

                Longevidad. Los ciclos de vida de los seres vivos son variables:
                 las moscas de la fruta, por ejemplo, solo viven veinte días, mientras que hay 
                 especies de árboles que viven más de tres mil años y animales como la tortuga 
                 Galápago, que llega a edades de más de cien años.</p>
          </div>
    
      </div>
    
      <div class="ima">
        <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse2%2Flesson4%2Fpage3%2Fimag.png?alt=media&token=43852466-aa06-4a0d-9c43-8d25adda6156"
        height="180" >
      </div>
    
      <div class="btns">
    
          <div class="btn1">
              <button>
                  Volver
              </button>
          </div>
    
          <div class="btn2">
              <button>
                  Continuar
              </button>
          </div>
    
      </div>
    
    </div>
    </div>
