<div class="container">

    <div class="rectangle">

        <div class="title">
            <p>EL ARTE DE PLANEAR QUE COMER</p>
        </div>

        <div class="sub">
            <p>¿QUE SON LOS NUTRIENTES?</p>
        </div>

        <div class="description">

            <div class="bar">
                <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse1%2Flesson1%2Fpage6%2Fbar.png?alt=media&token=bc2b1ef8-7505-405d-aa5c-84c72bc7e05b" 
                >
            </div>

            <div class="text">
                <p>Son sustancias químicas formadas por moléculas unidas fuertemente entre sí.
                    El aparato digestivo cuenta con enzimas que “rompen” esas uniones y permiten
                     que un alimento, por ejemplo, una milanesa (que no es otra cosa que un 
                     conjunto de carbohidratos, proteínas, grasas, vitaminas y minerales) 
                     se convierta en una cantidad de pequeñas moléculas que pueden ser transportadas
                      por la sangre hasta cada célula del cuerpo, obteniendo así la energía vital.</p>
            </div>

        </div>

        <div class="ima">
            <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse1%2Flesson1%2Fpage6%2Fsalu.png?alt=media&token=d5457fd0-b357-4bf0-8640-7b850328486a"
            height="180" >
        </div>

        <div class="btns">

            <div class="btn1">
                <button>
                    Volver
                </button>
            </div>

            <div class="btn2">

                <button>
                    Continuar
                </button>

            </div>

        </div>

    </div>

</div>
