<div class="container">
    <div class="rectangle">
      <div class="title">
          <p>Diversidad, continuidad y cambio</p>
      </div>
  
  
      <div class="description">
  
          <div class="bar">
              <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse1%2Flesson3%2Fpage1%2Fbar.png?alt=media&token=ced2fd45-d7cd-4f6e-8cb5-659c1ae4e955" 
              >
          </div>
  
          <div class="text">
              <p>En todo el planeta, a lo largo del tiempo, los grupos humanos han generado
                 tradiciones y rituales relacionados con la Naturaleza.
                 Es importante analizar estas costumbres con el fin de valorar la enorme
                  diversidad biocultural y obtener una enseñanza de ellas. Buena parte del
                   aprendizaje indígena y de sus prácticas se basa en experiencias milenarias
                    que se han transmitido de generación en generación).</p>
          </div>
  
      </div>
  
  
      <div class="btns">
  
          <div class="btn1">
              <button>
                  Volver
              </button>
          </div>
  
          <div class="btn2">
              <button>
                  Continuar
              </button>
          </div>
  
      </div>
  
  </div>
  </div>

