<div class="container">
  <div class="rectangle">
    <div class="title">
      <p>EL ARTE DE PLANEAR QUE COMER</p>
    </div>

    <div class="description">
      <div class="bar">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse1%2Flesson1%2Fpage2%2Fbarra.png?alt=media&token=66e2b677-37a5-42b8-be34-ee06cc9d7616"
          width="10"
          height="250"
        />
      </div>
      <div class="box1">
        <div class="text">
          <p>
            Existen diferentes tipos de nutrimentos y todas las personas los
            necesitan en diferentes cantidades. Para saber cuanto necesita cada
            persona, debemos considerar: su actividad física y edad, Pero para
            definir que es lo que necesitamos, primero reflexiona sobre:
          </p>
        </div>

        <div class="box2">
          <div class="preg">
            <p>¿Qué es una dieta?</p>
            <p>¿Para qué sirve?</p>
            <p>¿Es necesaria?</p>
            <p>¿Que son los nutrientes?</p>
          </div>

          <div class="plato">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse1%2Flesson1%2Fpage2%2Fplato.png?alt=media&token=788ad60a-9d66-45f7-98c3-26d34b823e4d"
             height="180px"/>
          </div>
        </div>
      </div>
    </div>
    <div class="btns">
      <div class="btn1">
        <button>Volver</button>
      </div>

      <div class="btn2">
        <button>Continuar</button>
      </div>
    </div>
  </div>
</div>
