* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

section {
  display: flex;
  margin-left: 87px;
  margin-right: 87px;
  margin-top: 40px;
  margin-bottom: 100px;
  height: 450px;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #34a853;
  padding: 10px;
  border-radius: 10px;
}

.text-titles {
  width: 1021px;
  height: 108px;
  margin-left: 87px;
  margin-right: 87px;
  top: 838px;

  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;

  text-align: center;
  letter-spacing: 1.25px;

  color: #34a853;
}

p {
  width: 981px;
  height: 90px;
  margin-left: 87px;
  margin-right: 87px;
  left: 256px;
  //top: 981px;

  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
  /* or 120% */

  text-align: center;
  letter-spacing: 1.25px;
  text-indent: 1px;

  color: #000000;
}

.imagenD{
float: right;
}

.imagenU{

  width: 398px;
height: 796px;
left: 0px;
top: 3173px;

}

.linea{
display: flex;
justify-content: center;

}

.divi{

top: auto;

}