<p class="text-titles">Descubre los cursos que BIOLOGISC tiene<br>para ti</p>
<p class="text-content">Uno de los objetivos de Biology.isc es guiarte para que alcances los propósitos de la asignatura
      y que construyas los conceptos indicados en los contenidos para el primer grado de Ciencias y Tecnología 1,
      Biología, mediante este curso.</p>
<div>
      <app-cards style="display: inline-block;" *ngFor="let course of this.courses" title={{course.title}}
            subtitle={{course.subtitle}} imageUrl={{course.imageUrl}} description={{course.description}}
            [showButton]="!!this.currentUser" [progress]="this.currentUser?.progress?.get(course.id)||0">
      </app-cards>
</div>
