.container-cards {
  display: flex;
  padding-left: 13%;
  padding-right: 13%;
  justify-content: space-around;
}

.text-header {
  display: flex;
  padding-left: 14%;
  padding-right: 14%;
  height: 170px;
  justify-content: space-around;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.rectangle {
  display: flex;
  width: 86%;
  height: 490px;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/login%20background.png?alt=media&token=357d48c0-3f62-44e7-bca0-17417fd57368);
  background-size: cover;
  border-radius: 30px;
  margin-bottom: 30px;
  flex-direction: row;
}

p {
  font-family: 'Outfit', sans-serif;
}

.login-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 60.5%;
  margin: 0px;
  padding: 0px;
}


.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-title {
  font-weight: 500;
  font-size: 35px;
  letter-spacing: 1.25px;
  color: #ffffff;
  margin: 0%;
  padding: 0%;
}

.login-desc {
  font-weight: 100;
  font-size: 25px;
  line-height: 24px;
  letter-spacing: 1.25px;
  color: #ffffff;
  margin: 0%;
  padding: 0%;
}

.mat-card {
  display: flex;
  flex-direction: column;
  width: 380px;
  margin: 2em auto;
  text-align: center;
  border-radius: 15px;
  background-color: rgba(117, 224, 156, 0.79);
  height: 420px;
}

.header {
  text-align: center;
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #ffffff;

  display: flex;
  align-items: center;
  letter-spacing: 2px;
  margin-left: 30px;
}

.ask{
  color: white;
  letter-spacing: 0.05em;
  font-size: 12px;
  font-weight: 100;
  margin-right: 5px;
}

p {
  font-family: 'Outfit', sans-serif;
}


.title-min {
  font-weight: 600;
  font-size: 50px;
  letter-spacing: 1.25px;
  color: #34A853;
}

.title-mayus {
  font-weight: 900;
  font-size: 50px;
  letter-spacing: 1.25px;
  color: #0E8A2F;
}

.text-line {
  font-weight: 400;
  font-size: 90px;
  color: #34A853;
  padding-left: 14%;
}

.text-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0%;
}

.text-cntnt {
  font-weight: 200;
  font-size: 23px;
  line-height: 30px;
  text-align: justify;
  letter-spacing: 1.25px;
  text-indent: 1px;
  padding-left: .5%;
  padding-right: 14%;
  color: #000000;
}

.linea {
  display: flex;
  justify-content: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.course1-container {
  display: flex;
  flex-direction: row;
}

.course3-container {
  margin-bottom: 10%;
  display: flex;
  flex-direction: row;
}

.course1-info,
.course3-info {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.course1-img,
.course3-img {
  display: flex;
  justify-content: flex-end;
}

.course1-title,
.course3-title {
  display: flex;
  margin-top: 40px;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 50px;
  letter-spacing: 1.25px;
  color: #34A853;
}

.course1-description,
.course3-description {
  margin: 0%;
  font-weight: 200;
  font-size: 23px;
  text-align: justify;
  letter-spacing: 1.25px;
  padding-right: 14%;
  color: #000000;
}

.course1-bar,
.course3-bar {
  display: flex;
  margin-right: 30px;
}

.course1-topics,
.course3-topics {
  font-weight: 200;
  font-size: 23px;
  line-height: 30px;
  text-align: justify;
  letter-spacing: 1.25px;
  line-height: 55px;
  padding-right: 14%;
  color: black;
}

.course1-content,
.course3-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 100px;
}

.course1-btn,
.course3-btn {
  display: flex;
  justify-content: flex-end;
  padding-right: 14%;
}

.course1-explore,
.course3-explore {
  display: flex;
  font-family: 'Outfit', sans-serif;
  color: #34A853;
  border-color: #34A853;
}

//CURSO 2

.course2-container {
  display: flex;
  flex-direction: row;

}

.course2-info {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.course2-img {
  display: flex;
  justify-content: flex;
}

.course2-title {
  display: flex;
  margin-top: 40px;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 50px;
  letter-spacing: 1.25px;
  padding-left: 15%;
  padding-right: 3%;
  color: #34A853;
}

.course2-description {
  margin: 0%;
  font-weight: 200;
  font-size: 23px;
  text-align: justify;
  letter-spacing: 1.25px;
  padding-left: 15%;
  padding-right: 6%;
  color: #000000;
}

.course2-bar {
  display: flex;
  padding-left: 14%;
  margin-right: 30px;
}

.course2-topics {
  font-weight: 200;
  font-size: 23px;
  line-height: 30px;
  text-align: justify;
  letter-spacing: 1.25px;
  line-height: 55px;
  color: black;
}

.course2-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 100px;
}

.course2-btn {
  display: flex;
  justify-content: flex-end;
  padding-right: 14%;
}

.course2-explore {
  display: flex;
  font-family: 'Outfit', sans-serif;
  color: #34A853;
  border-color: #34A853;
}