<style>
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
</style>

<div class="text-header">
  <p class="title-min">Descubre los cursos que <span class="title-mayus">BIOLOGISC</span> tiene para ti</p>
</div>

<div class="text-content">
  <span class="text-line">|</span>
  <p class="text-cntnt">Uno de los objetivos de Biology.isc es guiarte para que
    alcances los propósitos de la asignatura y que construyas los conceptos indicados en los contenidos para
    el primer grado de Ciencias y Tecnología 1, Biología, mediante este curso.</p>
</div>


<div class="container-cards">
  <app-cards style="display: inline-block" *ngFor="let course of this.courses" title="{{ course.title }}"
    subtitle="{{ course.subtitle }}" imageUrl="{{ course.imageUrl }}" description="{{ course.description }}"
    [showButton]="!!this.currentUser" [progress]="this.currentUser?.progress?.get(course.id) || 0">
  </app-cards>
</div>

<div class="linea">
  <img
    src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/Line.png?alt=media&token=0faa3c10-93f3-499c-ab04-a4156e4b82e4" />
</div>

<!--* * * * * * * * * * * * * * * * * * * * * CURSO 1 * * * * * * * * * * * * * * * * * * * * *-->

<div class="course1-container">
  <div class="course1-img">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/Group%2021.png?alt=media&token=c3699ab8-2bc8-40a9-977d-226b08841595"
      height="650px" />
  </div>

  <div class="course1-info">
    <!--TITULO DEL CURSO -->
    <p class="course1-title">El arte de planear qué comer</p>
    <p class="course1-description">
      En este curso entenderás cómo evitar el sobrepeso y la obesidad con base en las características
      de la dieta correcta y las necesidades energéticas en la adolescencia.
    </p>

    <!--TEMAS DEL CURSO -->
    <div class="course1-content">
      <span class="course1-bar">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/div1-home-page.png?alt=media&token=6b6772db-ae08-482d-9db7-6c339e130571"
          height="195" />
      </span>
      <p class="course1-topics">El arte de planear qué comer <br>
        Una guía para planear tu comida<br>
        ¿Cuánta energía necesitas?<br>
        La fórmula infalible</p>
    </div>
    <div class="course1-btn">
      <button mat-stroked-button class="course1-explore">EXPLORAR CURSO</button>
    </div>
  </div>
</div>

<div class="linea">
  <img
    src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/Line.png?alt=media&token=0faa3c10-93f3-499c-ab04-a4156e4b82e4" />
</div>

<!--* * * * * * * * * * * * * * * * * * * * * CURSO 2 * * * * * * * * * * * * * * * * * * * * *-->


<div class="course2-container">
  <div class="course2-info">
    <!--TITULO DEL CURSO -->
    <p class="course2-title">¿Qué tienen en común los seres vivos?</p>
    <p class="course2-description">
      Aquí dentificarás a la célula como la unidad estructural de los seres vivos.
      Identificarás las funciones de la célula y sus estructuras básicas (pared celular,
      membrana, citoplasma y núcleo).
    </p>

    <!--TEMAS DEL CURSO -->
    <div class="course2-content">
      <span class="course2-bar">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/div1-home-page.png?alt=media&token=6b6772db-ae08-482d-9db7-6c339e130571"
          height="195" />
      </span>
      <p class="course2-topics">¿Qué tienen en común los seres vivos?<br>
        Características de la célula<br>
        Las estructuras básicas de la célula<br>
        Estructuras celulares</p>
    </div>
    <div class="course2-btn">
      <button mat-stroked-button class="course2-explore">EXPLORAR CURSO</button>
    </div>
  </div>
  <div class="course2-img">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/Group%2025.png?alt=media&token=4c37b605-9014-447f-9e83-cb1f11490744"
      height="650px" />
  </div>
</div>

<div class="linea">
  <img
    src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/Line.png?alt=media&token=0faa3c10-93f3-499c-ab04-a4156e4b82e4" />
</div>

<!--* * * * * * * * * * * * * * * * * * * * * CURSO 3 * * * * * * * * * * * * * * * * * * * * *-->

<div class="course3-container">
  <div class="course1-img">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/Group%2023.png?alt=media&token=b5649d5a-8dd0-4746-9e9f-e6f55cd28eed"
      height="650px" />
  </div>

  <div class="course3-info">
    <!--TITULO DEL CURSO -->
    <p class="course3-title">Diversidad, continuidad y cambio</p>
    <p class="course3-description">
      Valorarás las implicaciones éticas de la manipulación genética en la salud y el medioambiente.
      Representarás las transformaciones de la energía en los ecosistemas, en función de la fuente
      primaria y las cadenas tróficas.
    </p>

    <!--TEMAS DEL CURSO -->
    <div class="course3-content">
      <span class="course3-bar">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/div3-home-page.png?alt=media&token=feca695d-991c-4b8f-a370-5ecadb0f3d2a"
          height="307" />
      </span>
      <p class="course3-topics">
        La manipulación genética en la salud<br>
        El desciframiento del genoma humano<br>
        Modificaciones genéticas en los organismos<br>
        Alimentos transgénicos ¿Son seguros?<br>
        ¿Qué es un ecosistema?<br>
        La cadena alimenticia</p>
    </div>
    <div class="course3-btn">
      <button mat-stroked-button class="course3-explore">EXPLORAR CURSO</button>
    </div>
  </div>
</div>



<router-outlet></router-outlet>