<div class="container">

    <div class="rectangle">

        <div class="title">

            <p>Que Tienen En Comun Los Seres Vivos</p>

        </div>

        <div class="sub">
            <p>CARACTERISTICAS DE LA CELULA</p>
        </div>

        <div class="description">

            <div class="bar">

                <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse2%2Flesson1%2Fpage1%2Fbar.png?alt=media&token=1a3ccb00-d896-42ba-b8b8-f4e4f2dc7493" 
                height="200">

            </div>

            <div class="tex">
                <p>En el ámbito de la biología, es la unidad más pequeña que puede vivir por sí sola.
                     Forma todos los organismos vivos y los tejidos del cuerpo. Las tres partes
                      principales de la célula son la membrana celular, el núcleo y el citoplasma.
                       La membrana celular rodea la célula y controla las sustancias que entran
                        y salen. 

                        Dentro de la célula está el núcleo que contiene el nucléolo y la mayor parte
                         del ADN celular, además es donde se produce casi todo el ARN.

                </p>
            </div>

            <div class="ima">
                <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse2%2Flesson1%2Fpage1%2Fimage%204.png?alt=media&token=1e8877e1-f33e-4f84-9ecd-df19c9bde621" 
                height="200">
            </div>
        </div>

        <div class="btns">

            <div class="btn1">
                <button>
                    Volver
                </button>
            </div>

            <div class="btn2">

                <button>
                    Continuar
                </button>

            </div>
        </div>

    </div>

</div>
