<div class="container">

    <div class="rectangle">

    

    <div class="title">
        <p>EL ARTE DE PLANEAR QUE COMER</p>
    </div>

    <div class="sub">
        <p>NIÑOS MENORES DE 5 AÑOS</p>
    </div>

    <div class="description">

        <div class="bar">
            <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse1%2Flesson3%2Fpage3%2Fbar.png?alt=media&token=7048bcc2-0895-415d-a8df-2dac1241bddd" 
            height="150">
        </div>

        <div class="text">
            <p>En el caso de los niños menores de 5 años:

                el sobrepeso es el peso para la estatura con más de dos desviaciones
                 típicas por encima de la mediana establecida en los patrones de crecimiento
                  infantil de la OMS; 
                
                la obesidad es el peso para la estatura con más de tres desviaciones típicas
                 por encima de la mediana establecida en los patrones de crecimiento infantil
                  de la OMS.</p>

        </div>
    </div>

    <div class="ima">
        <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse1%2Flesson3%2Fpage3%2Fimag.png?alt=media&token=561283f6-eb68-416f-86fa-44c8ec519362" 
        height="180">
    </div>

    <div class="btns">

        <div class="btn1">
            <button>
                Volver
            </button>
        </div>

        <div class="btn2">
            <button>
                Continuar
            </button>
        </div>
    </div>
</div>

</div>
