<div class="container">

    <div class="rectangle">

        <div class="title">
            <p>EL ARTE DE PLANEAR QUE COMER</p>
        </div>

        <div class="sub">
            <p>¿CUANTA ENERGIA NECESITAS?</p>
        </div>

        <div class="description">

            <div class="bar">
                <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse1%2Flesson2%2Fpage2%2Fbar.png?alt=media&token=1f0dcd7a-8a1c-4c2c-a022-474186e57b26" 
                >
            </div>

            <div class="text">
                <p>- Si por el contrario, la energía que tenemos de los alimentos, es menor a la
                     que necesitamos, podemos desarrollar enfermedades por falta de sustancias
                      necesarias para el buen funcionamiento del cuerpo.

                    - La cantidad de energía que cada persona necesita, varía en función de su edad,
                     sexo, peso, altura y el ejercicio que realice.</p>
            </div>

        </div>

        <div class="btns">

            <div class="ima">
                <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse1%2Flesson2%2Fpage2%2Fva.png?alt=media&token=3dee54dc-8988-419d-aa1a-33b1e524cbfe"
                >
            </div>

        <div class="btn1">
            <button>
                Volver
            </button>
        </div>

        <div class="btn2">

        </div>
        <button>
            Continuar
        </button>
        </div>

    </div>

</div>
