<div class="container">

    <div class="rectangle">

        <div class="title">
            <p>Que Tienen En Comun Los Seres Vivos</p>
        </div>

        <div class="sub">
            <p>COMO ESTA FORMADO UN SER VIVO</p>

        </div>

        <div class="description">

            <div class="bar">
                <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse2%2Flesson3%2Fpage1%2Fbar.png?alt=media&token=3293beae-eeb0-48e4-a0a9-a323060be1d7"
                height="150" >
            </div>

            <div class="text">

                <p>El cuerpo de todos los seres vivos están compuestos por células.
                     La célula es la parte más pequeña de la que están formados los
                      seres vivos y es capaz de actuar de manera autónoma, es decir,
                       realizan las funciones desnutrición, relación y reproducción.
                        Se miden en centésimas o milésimas de milímetro. </p>

            </div>

        </div>

        <div class="btns">

            <div class="btn1">
                <button>
                    Volver
                </button>
            </div>

            <div class="btn2">
                <button>
                    Continuar
                </button>
            </div>

        </div>

    </div>

</div>
