<div class="container">

    <div class="rectangle">

        <div class="title">
            <p>Que Tienen En Comun Los Seres Vivos</p>
        </div>

        <div class="sub">
            <p>COMO ESTA FORMADO UN SER VIVO</p>

        </div>

        <div class="description">

            <div class="bar">
                <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse2%2Flesson3%2Fpage1%2Fbar.png?alt=media&token=3293beae-eeb0-48e4-a0a9-a323060be1d7"
                height="180" >
            </div>

            <div class="text">

                <p>Todos los seres vivos, como decíamos, están formados por células. Los animales y las
                     plantas están formados por un número muy alto de células y reciben el nombre de sere
                     s pluricelulares.

                    Otros seres vivos en cambio, están formados por una sola célula. Se llaman seres
                     unicelulares. Su única célula lleva a cabo todas las funciones vitales.
                    
                    Los seres pluricelulares, ya sean animales o plantas, están formados por células de
                     muchos tipos diferentes. Estas células se organizan y se unen entre sí de un modo
                      determinado, como las piezas de un puzle.
                     </p>

            </div>

        </div>

        <div class="btns">

            <div class="btn1">
                <button>
                    Volver
                </button>
            </div>

            <div class="btn2">
                <button>
                    Continuar
                </button>
            </div>

        </div>

    </div>

</div>

