<mat-toolbar color = "secondary" class="navbar">
    <span>BIOLOGISC</span>
    <span class="example-spacer"></span>
    <div>
      <button mat-button class="mat-button-home">
        <mat-icon>home</mat-icon>
        <span>Inicio</span>
      </button>
    </div>
    <div>
      <button mat-button class="mat-button-courses">
        <mat-icon>menu_book</mat-icon>
        Cursos</button>
    </div>
    <div>
      <button mat-button>
        <mat-icon>help</mat-icon>
        Acerca de</button>
    </div>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>account_circle</mat-icon>
    </button>

  </mat-toolbar>