<div class="container">
    <div class="rectangle">
      <div class="title">
          <p>Diversidad, continuidad y cambio</p>
      </div>
  
  
      <div class="description">
  
          <div class="bar">
              <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse1%2Flesson3%2Fpage1%2Fbar.png?alt=media&token=ced2fd45-d7cd-4f6e-8cb5-659c1ae4e955" 
              height="100">
          </div>
  
          <div class="text">
              <p>En nuestro país está cada vez más cercano el proceso de desaparición de
                 muchas especies; por ello, es responsabilidad de todos cuidar el patrimonio
                  biológico.</p>
          </div>
  
      </div>
  
      <div class="ima">
          <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse3%2Flesson3%2Fpage1%2Fima.png?alt=media&token=968112cd-4439-402d-be08-4fa52c77f021"
          height="180">
      </div>
  
      <div class="btns">
  
          <div class="btn1">
              <button>
                  Volver
              </button>
          </div>
  
          <div class="btn2">
              <button>
                  Continuar
              </button>
          </div>
  
      </div>
  
  </div>
  </div>

