<div class="container">
    <div class="rectangle">
      <div class="title">
          <p>EL ARTE DE PLANEAR QUE COMER</p>
      </div>
  
      <div class="sub">
  
          <p>FORMULA INFALIBLE</p>
  
      </div>
  
      <div class="description">
  
          <div class="bar">
              <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse1%2Flesson3%2Fpage1%2Fbar.png?alt=media&token=ced2fd45-d7cd-4f6e-8cb5-659c1ae4e955" 
              >
          </div>
  
          <div class="text">
              <p>Después de todo lo que hemos revisado, parece claro que las causas del sobrepeso
                y la obesidad se relacionan con inadecuados hábitos y con ingerir más calorías
                 que las que empleamos en nuestras actividades cotidianas. Por ello, resulta de
                  gran importancia mo- dificar nuestros patrones nocivos. La siguiente fórmula
                   es infalible y seguramente podrá ayudarte.</p>
          </div>
  
      </div>
  
      <div class="ima">
          <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse1%2Flesson5%2Fpage1%2Ftabla.png?alt=media&token=a2f0c7f2-e3b5-4eca-b47b-4b31e46be818"
          height="180">
      </div>
  
      <div class="btns">
  
          <div class="btn1">
              <button>
                  Volver
              </button>
          </div>
  
          <div class="btn2">
              <button>
                  Continuar
              </button>
          </div>
  
      </div>
  
  </div>
  </div>
