.example-spacer {
  display: flex;
  flex: 1 1 auto;
  margin-left: 115px;
  justify-content: space-between;
  align-content: center;
}

.example-card {
  width: 240px;
  height: 275px;
  border-radius: 15px;
}

div {
  display: flex;
  justify-content: center;
  //gap: 25px;
}

p {
  text-align: justify;
  line-height: 1.5;
  color: #6a6a6a;
}

.mat-card-header {
  height: 55px;
  padding-left: 0%;
  margin-inline-start: -15px;
}
.mat-card-title {
  font-size:18px ;
  font-weight: 500;
}

.mat-card-image {
  width: 272px;
  height: 175px;
  border-radius:10px;
}