<div class="container">

    <div class="rectangle">

        <div class="title">
            <p>EL ARTE DE PLANEAR QUE COMER</p>
        </div>

        <div class="sub">
            <p>¿CUANTA ENERGIA NECESITAS?</p>
        </div>

        <div class="description">

            <div class="bar">
                <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse1%2Flesson2%2Fpage1%2Fbar.png?alt=media&token=d0c820fd-44d8-4a48-816e-6369f28f25f3" 
                >
            </div>

            <div class="text">
                <p>Para que tu cuerpo mantenga un equilibrio, la energía que consumimos a través de los alimentos,
                     debe ser igual a la energía que necesita para realizar las actividades diarias.
                    - Si consumimos más energía de la que necesitamos, esta se almacena en nuestro
                     organismo provocando así, sobrepeso.</p>
            </div>

        </div>

        <div class="btns">

            <div class="btn1">
                <button>
                    Volver
                </button>
            </div>

            <div class="btn2">
                <button>
                    Continuar
                </button>
            </div>

            <div class="imag">
                <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse1%2Flesson2%2Fpage1%2Fva.png?alt=media&token=a2ed174f-6d60-4fcd-9cb2-5a764bb30aaf" 
                >
            </div>

        </div>

    </div>

</div>
