<app-course3lesson1page1></app-course3lesson1page1>
<app-course3lesson1page2></app-course3lesson1page2>
<app-course3lesson1page3></app-course3lesson1page3>
<app-course3lesson2page1></app-course3lesson2page1>
<app-course3lesson2page2></app-course3lesson2page2>
<app-course3lesson2page3></app-course3lesson2page3>
<app-course3lesson3page1></app-course3lesson3page1>
<app-course3lesson3page2></app-course3lesson3page2>
<app-course3lesson4page1></app-course3lesson4page1>
<app-course3lesson4page2></app-course3lesson4page2>
<app-course3lesson4page3></app-course3lesson4page3>
<app-course3lesson5page1></app-course3lesson5page1>
<app-course3lesson5page2></app-course3lesson5page2>
<app-course3lesson5page3></app-course3lesson5page3>