<style>
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
</style>


<div class="container">
    <div class="rectangle">
        <div class="message">
            <div class="text">
                <p>¡Upss! Parece que no has iniciado sesión.</p>
            </div>
            <div class="img">
                <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/usuario.png?alt=media&token=34dee175-788b-48d4-85d5-c699dafd22b6" height="200px">
            </div>
            <div class="subtext">
                <p>Inicia sesión o si eres un nuevo usuario regístrate para acceder a nuestros cursos.</p>
            </div>
        </div>
        <div class="loginForm">
            <app-login></app-login>
        </div>
    </div>
</div>