.container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 25px;
}

p {
    font-family: 'Outfit', sans-serif;
    margin: 0px;
    padding: 0%;
}

.rectangle {
    display: flex;
    flex-direction: row;
    width: 86%;
    height: 500px;
    margin: 0%;
    padding: 0%;
    background-color: white;
    border-radius: 30px;
    justify-content: center;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/resources%2FGroup%2028.png?alt=media&token=0b75920a-370f-4f69-9cae-b9d6f2b6a31d);
    background-size: cover;
}

.message {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    justify-content: center;
    font-weight: 600;
    height: 100px;
    align-items: center;
    font-size: 50px;
    letter-spacing: 1.25px;
    color: #34A853;
}

.subtext {
    font-weight: 500;
    font-size: 23px;
    line-height: 22px;
    color: #34A853;
}