<div class="container">
    <div class="rectangle">
      <div class="title">
          <p>Que Tienen En Comun Los Seres Vivos</p>
      </div>
  
      <div class="sub">
  
          <p>CARACTERISTICAS DE LA CELULA</p>
  
      </div>
  
      <div class="description">
  
          <div class="bar">
              <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse1%2Flesson3%2Fpage1%2Fbar.png?alt=media&token=ced2fd45-d7cd-4f6e-8cb5-659c1ae4e955" 
              height="150">
          </div>
  
          <div class="text">
              <p>El citoplasma es el líquido del interior de la célula que contiene otros
                 elementos diminutos con funciones específicas, como el aparato de Golgi,
                  las mitocondrias y el retículo endoplasmático. En el citoplasma ocurren
                   la mayoría de las reacciones químicas, y también es donde se elaboran
                    la mayoría de las proteínas. El cuerpo humano tiene más de 30 billones
                     de células.</p>
          </div>
  
      </div>
  
      <div class="video">
        <iframe width="408" height="255" src="https://www.youtube.com/embed/aoj9oTvVJ8o?start=5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
  
      <div class="btns">
  
          <div class="btn1">
              <button>
                  Volver
              </button>
          </div>
  
          <div class="btn2">
              <button>
                  Continuar
              </button>
          </div>
  
      </div>
  
  </div>
  </div>
