<div class="container">
    <div class="rectangle">
      <div class="title">
          <p>Que Tienen En Comun Los Seres Vivos</p>
      </div>
  
      <div class="sub">
  
          <p>ESTRUCTURAS ESPECIALIZADAS</p>
  
      </div>
  
      <div class="description">
  
          <div class="bar">
              <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse1%2Flesson3%2Fpage1%2Fbar.png?alt=media&token=ced2fd45-d7cd-4f6e-8cb5-659c1ae4e955" 
              height="150">
          </div>
  
          <div class="text">
              <p>A pesar de la enorme diversidad de formas, conductas y fisiologías de los seres
                 vivos, el esquema básico es el mismo, pero resulta interesante comparar nuestras
                  anatomía y fisiología con las de otros organismos.
                  Organización. La mayoría de los organismos son unicelulares, es decir, están
                   formados por una sola célula, como las bacterias, arqueas y protozoarios, que
                    son más primitivos que los organismos pluricelulares, formados por células
                     especializadas que forman tejidos y órganos</p>
          </div>
  
      </div>
  
      <div class="ima">
        <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse2%2Flesson4%2Fpage1%2Fimag.png?alt=media&token=1636151e-4bcb-4704-8de5-2528c16b0865"
        height="180" >
      </div>
  
      <div class="btns">
  
          <div class="btn1">
              <button>
                  Volver
              </button>
          </div>
  
          <div class="btn2">
              <button>
                  Continuar
              </button>
          </div>
  
      </div>
  
  </div>
  </div>
