<div class="container">

    <div class="rectangle">

        <div class="title">
        <p>EL ARTE DE PLANEAR QUE COMER</p>
        </div>

        <div class="sub">
        <p>¿QUE ES UNA DIETA?</p>
        </div>

        <div class="description">
            <div class="bar">
                <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse1%2Flesson1%2Fpage3%2Fbar.png?alt=media&token=20d2baf0-b13e-480e-aaeb-7c628efad90b" 
                width="10"
                height="100">
            </div>

            <div class="text">
                
                <div class="text1">
                    <p>Una dieta es el conjunto de las sustancias alimenticias que componen el comportamiento
                         nutricional de los seres vivos. El concepto proviene del griego díaita, que significa 
                         “modo de vida”.La dieta, por lo tanto, resulta un hábito y constituye una forma de vivir.</p>
                </div>

                <br>

                <div class="text2">
                    <p>En ocasiones, el término suele ser utilizado para referirse a los regímenes especiales para
                        bajar de peso o para combatir ciertas enfermedades, aunque estos casos representan
                        modificaciones de la dieta y no la dieta en sí misma.</p>
                </div>
            </div>
        </div>

        <div class="imagen">
<img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse1%2Flesson1%2Fpage3%2Fdiet.png?alt=media&token=0afc2baa-f5f6-40fa-8ad2-6eb1ea9b7084"
height="180px">
        </div>

        <div class="btns">

            <button class="btn1">
                Volver
            </button>

            <button class="btn2">
                Continuar
            </button>

        </div>

    </div>

</div>
