<div class="container">
    <div class="rectangle">
      <div class="title">
          <p>Que Tienen En Comun Los Seres Vivos</p>
      </div>
  
      <div class="sub">
  
          <p>CELULA VEGETAL</p>
  
      </div>
  
      <div class="description">
  
          <div class="bar">
              <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse1%2Flesson3%2Fpage1%2Fbar.png?alt=media&token=ced2fd45-d7cd-4f6e-8cb5-659c1ae4e955" 
              height="150">
          </div>
  
          <div class="text">
              <p>La célula vegetal es aquella que compone muchos de los tejidos de
                 los organismos pertenecientes al reino Plantae, es decir, las plantas.
                  Las células vegetales, al igual que las animales, son eucariotas, por
                   lo que poseen un núcleo definido (en el cual se encuentra el material genético),
                    una membrana celular y distintas organelas ubicadas en el citoplasma. </p>
          </div>
  
      </div>
  
      <div class="ima">
          <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse2%2Flesson1%2Fpage3%2Fimage%205.png?alt=media&token=921e737c-bc64-4ab2-a0a1-d2044d608247"
          height="180">
      </div>
  
      <div class="btns">
  
          <div class="btn1">
              <button>
                  Volver
              </button>
          </div>
  
          <div class="btn2">
              <button>
                  Continuar
              </button>
          </div>
  
      </div>
  
  </div>
  </div>
