.mat-card {
  width: 240px;
  height: auto;
  border-radius: 15px;
}

p {
  text-align: justify;
  line-height: 1.5;
  color: #6a6a6a;
}

.mat-card-header {
  height: 55px;
  padding-left: 0%;
  margin-inline-start: -15px;
}

.mat-card-title {
  font-size: 18px;
  font-weight: 500;
}

.mat-card-image {
  width: 272px;
  height: 175px;
  border-radius: 10px;
}

.mat-card-button {
  background-color: #34A853;
  color: white;
  width: 255px;
  align-content: center;
  border-radius: 10px;
}