<style>
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
</style>

<footer>
  <div class="container">
    <div class="icons">
      <a href="https://www.facebook.com/BiologiscMx">
        <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/icons%2Ffacebook.png?alt=media&token=2c4d9c89-9e4f-4199-b466-852eca0a93a9" height="30px">
      </a>
      <a href="http://instagram.com">
        <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/icons%2Finstagram.png?alt=media&token=b34e2a60-edbb-44a4-ae3b-8910c02dcf4a" height="30px">
      </a>
      <a href="http://youtube.com">
        <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/icons%2Fyoutube.png?alt=media&token=99e1b6df-f483-4d3e-9d1d-1ada66e8f448" height="30px">
      </a>
    </div>

    <div class="info">
      <p> @Sistemas de informacion 2022 | M.C.C Santa Vallejo Figueroa</p>
    </div>
  </div>
</footer>