<div class="container">

    <div class="rectangle">

        <div class="title">
            <p>Que Tienen En Comun Los Seres Vivos</p>
        </div>

        <div class="sub">
            <p>TEJIDOS</p>
        </div>

        <div class="description">

            <div class="bar">
                <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse2%2Flesson2%2Fpage4%2Fbar.png?alt=media&token=476eb81c-d72f-4b0a-bd87-d37afe88901a" 
                height="100">
            </div>

            <div class="text">
                <p>• Tejido nervioso: funciones de integración y control del organismo
                    Formado por las células nerviosas o neuronas, y por células de sostén (glia.
                </p>
            </div>

        </div>

        <div class="ima">
            <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse2%2Flesson2%2Fpage4%2Fimag.png?alt=media&token=f745d3c0-a3ea-44e7-9470-1c5fe1ac25ed"
            height="100" >

        </div>

        <div class="btns">

            <div class="btn1">

                <button>
                    Volver
                </button>
            </div>
                <div class="btn2">

                    <button>
                        Continuar
                    </button>

                </div>
            

        </div>
    </div>

</div>
