<style>
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
</style>

<div class="container">
    <div class="rectangle">
        <div class="title">
            <p>¡Hola! Nosotros somos <span class="biologisc2">BIOLOGISC</span>,</p>
        </div>
        <div class="description">
            <span class="bar-des">
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/div3-home-page.png?alt=media&token=feca695d-991c-4b8f-a370-5ecadb0f3d2a"
                  height="240" />
              </span>
            <p class="points">En <span class="biologisc">BIOLOGISC</span> podrás encontrar cursos para aprender y reforzar tus conocimientos en biología.
                <br><br>Nuestro objetivo es la enseñanza de esta asignatura de una forma entretenida.
                <br><br>¡Esperamos que te unas a nosotros y comiences esta aventura de aprendizaje!
            </p>
        </div>
    </div>
</div>