<div>
    <div><h3 style="color: #34A8535E;">Biologia</h3></div>
    <div><h1 style="color: #34A853;">Diversidad, continuidad y cambio</h1></div>
    <div><p>En este curso valorarás las implicaciones éticas de la manipulación genética en la salud y el medioambiente. Representarás las transformaciones de la energía en los ecosistemas, en función de la fuente primaria y las cadenas tróficas. </p></div>
    <div>
        <iframe width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
    
    </div>

    <div class="botonVolver">
        <button style="color: white ;">Volver</button>
    </div>
    </div>
