<style>
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
</style>


<div class="container">
    <div class="rectangle">
        <div class="courseInfo">
            <p class="signature">Biología</p>
            <p class="courseTitle">Diversidad, continuidad y cambio</p>
            <p class="courseDescription">En este curso valorarás las implicaciones éticas de la manipulación genética en
                la salud y el medioambiente. Representarás las transformaciones de la energía en los ecosistemas, en
                función de la fuente primaria y las cadenas tróficas.</p>
        </div>
        <div class="videoLessons">
            <div class="video">
                <iframe class="videoYt" width="520" height="280"
                    src="https://www.youtube.com/embed/_bk2nnDI68g?controls=0" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>

            </div>
            <div class="lessons">
                <div class="titleLessons">
                    <p class="titleLesson">Lecciones en este curso</p>
                </div>
                <div class="lesson">
                    <p class="lessonName"><span class="num">1.</span>Introducción del curso</p>
                </div>
                <div class="lesson">
                    <p class="lessonName"><span class="num">1.</span>Introducción del curso</p>
                </div>
                <div class="lesson">
                    <p class="lessonName"><span class="num">1.</span>Introducción del curso</p>
                </div>
                <div class="lesson">
                    <p class="lessonName"><span class="num">1.</span>Introducción del curso</p>
                </div>
                <div class="lesson">
                    <p class="lessonName"><span class="num">1.</span>Introducción del curso</p>
                </div>
                <div class="lesson">
                    <p class="lessonName"><span class="num">1.</span>Introducción del curso</p>
                </div>
            </div>
        </div>
        <div class="buttons">
            <div class="button1">
                <button mat-raised-button class="buttonVolver" (click)="goBack()">VOLVER</button>
            </div>
            <div class="button2">
                <button mat-raised-button class="buttonComenzar">COMENZAR</button>
            </div>
        </div>
    </div>
</div>