<div class="container">
    <div class="rectangle">
      <div class="title">
          <p>EL ARTE DE PLANEAR QUE COMER</p>
      </div>
  
      <div class="sub">
  
          <p>HABITOS NOCIVOS, ¡A MODIFICARLOS!</p>
  
      </div>
  
      <div class="description">
  
          <div class="bar">
              <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse1%2Flesson3%2Fpage1%2Fbar.png?alt=media&token=ced2fd45-d7cd-4f6e-8cb5-659c1ae4e955" 
              >
          </div>
  
          <div class="text">
              <p>En la actualidad, México es uno de los países con más altas tasas de sobrepeso
                 y obesidad. Se calcula que 70% de la pobla- ción mexicana posee alguno de estos
                  dos problemas. Según los expertos, es probable que el sobrepeso y la obesidad,
                   cuando se manifiestan en la infancia, persistan en la adolescencia y, si no se
                    tratan a tiempo, en la edad adulta.</p>
          </div>
  
      </div>
  
      <div class="ima">
          <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse1%2Flesson4%2Fpage4%2Fimage%2017.png?alt=media&token=2f324415-949a-49c5-b3fe-bd69b6e545c3"
          height="180">
      </div>
  
      <div class="btns">
  
          <div class="btn1">
              <button>
                  Volver
              </button>
          </div>
  
          <div class="btn2">
              <button>
                  Continuar
              </button>
          </div>
  
      </div>
  
  </div>
  </div>
  
