<div class="login-form">
    <mat-card>
        <mat-card-content>
            <div class="register">
                <p class="ask">¿No tienes una cuenta?</p>
                <button mat-stroked-button (click)="onClick()" class="btn-register">Registrarse</button>
            </div>
            <div class="header">
                <p>¡Hola! Bienvenido.</p>
            </div>

            <div>
                <img class="img2"
                    src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/Nin%CC%83o%20inicio.png?alt=media&token=87dd2e2c-6f5a-4553-a56c-0e2995ecadb4" height="250px">
            </div>

            <div>
                <cool-google-button color="light" class="btnGoogle" (click)="onClick()">
                    Iniciar sesión con Google
                </cool-google-button>

            </div>
        </mat-card-content>
    </mat-card>
</div>