<style>
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
</style>

<div class="container">
    <div class="rectangle">
        <div class="login-info">
            <p class="login-title">APRENDE BIOLOGÍA</p>
            <p class="login-desc">¡En Biologisc encontrarás una forma <br>
                divertida y efectiva de aprender biología!</p>
            <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/biology-science-education-concept-poster-vector-10554609-removebg-preview%201.png?alt=media&token=a8b703d9-ea96-4db8-b3b4-fa7d1f41c005"
                height="300" width="360">
        </div>
        <div class="login-form">
            <mat-card>
                <mat-card-content>
                    <div class="header">
                        <h2 style="color:white ;">¡Hola! Bienvenido.</h2>
                    </div>

                    <div>
                        <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/Nin%CC%83o%20inicio.png?alt=media&token=87dd2e2c-6f5a-4553-a56c-0e2995ecadb4">
                    </div>
                 
                    <div>
                        <cool-google-button (click)="onClick()">
                            Login with Google
                        </cool-google-button>
                    </div>

        
