<div class="container">

    <div class="rectangle">

        <div class="title">
            <p>EL ARTE DE PLANEAR QUE COMER</p>
        </div>

        <div class="sub">
            <p>¿PARA QUE SIRVE UNA DIETA?</p>
        </div>
        
        <div class="description">

            <div class="bar">
                <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse1%2Flesson1%2Fpage4%2Fbar.png?alt=media&token=860b1078-9b03-40c9-ad98-a1ae94b5966a" 
                >
            </div>

            <div class="text">
                <p>Está demostrado que la alimentación y la salud caminan de la mano, ya que una 
                correcta dieta ayuda a promover la salud y a prevenir enfermedades. Existen muchos 
                estudios que relacionan la dieta y las enfermedades crónicas (cardiovasculares, 
                obesidad, diabetes mellitus, etc). Demostrándose que una alimentación inapropiada 
                es uno de los principales factores determinantes del desarrollo de estas enfermedades.</p>
            </div>
        </div>

        <div class="btns">

            <div class="btn1">
                <button>
                    Volver
                </button>
            </div>

            <div class="btn2">
                <button>
                    Continuar
                </button>
            </div>

            <div class="imagen">
                <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse1%2Flesson1%2Fpage4%2Fdiet.png?alt=media&token=4326704e-3ba9-44dd-ad90-83db10a2850a"
                height="180">

            </div>

        </div>
    </div>

</div>
