<div class="container">

    <div class="rectangle">

    <div class="title">
    <p>EL ARTE DE PLANEAR QUE COMER</p>
    </div>

    <div class="discription">

        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Wr0_wULJnBE?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

    </div>

    <div class="btns">

        <div class="btn1">
            <button>
                Volver
            </button>
        </div>

        <div class="btn2">
            <button>
                Continuar
            </button>
        </div>

    </div>

    </div>

</div>
