<div class="container">
    <div class="rectangle">
      <div class="title">
          <p>Que Tienen En Comun Los Seres Vivos</p>
      </div>
  
      <div class="sub">
  
          <p>CELULA ANIMAL</p>
  
      </div>
  
      <div class="description">
  
          <div class="bar">
              <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse1%2Flesson3%2Fpage1%2Fbar.png?alt=media&token=ced2fd45-d7cd-4f6e-8cb5-659c1ae4e955" 
              >
          </div>
  
          <div class="text">
              <p>Si analizamos la estructura de un edificio, podemos identificar que lo componen
                 diferentes partes hechas de varios tipos de materiales como, por ejemplo,
                  los ladrillos que forman las paredes. Las células animales se pueden considerar
                   como esos ladrillos y la unión de muchas de ellas pueden formar estructuras
                    mayores como tejidos en los organismos pluricelulares, o ser la única estructura
                     funcional de un ser vivo en los organismos unicelulares. Fue en la segunda mitad
                      del siglo XVII, con la invención del microscopio compuesto y la posterior
                       mejoría progresiva de las lentes, cuando se describió por primera vez una
                        célula animal, en concreto, una célula sanguínea.</p>
          </div>
  
      </div>
  
      <div class="ima">
          <img src="https://firebasestorage.googleapis.com/v0/b/biologyweb-e247e.appspot.com/o/CoursesGo%2FCourse2%2Flesson1%2Fpage6%2Fimage%206.png?alt=media&token=6a9c3b1f-daa2-4933-8df3-71ff1bbd61b3"
          height="150">
      </div>
  
      <div class="btns">
  
          <div class="btn1">
              <button>
                  Volver
              </button>
          </div>
  
          <div class="btn2">
              <button>
                  Continuar
              </button>
          </div>
  
      </div>
  
  </div>
  </div>
